@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
list-style:none;
    box-sizing: border-box;
    text-decoration: none;
background-color:none;
}

body {
    
    font-family: '', sans-serif;
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: stretch;
    
}

canvas {
    background-color: none; /* Define el color de fondo del canvas */
}

//graficos

#barChart{
    max-height: 482px;
}
.scroll{
    overflow: overlay;
    height: 590px;
    background-color:#ecffeb;
    border-top-left-radius:12px;
}
.InfoGrafAV{
    margin:7px;
    border-radius:12px;
    border:1px solid #fff;
}
.InfoGrafAV h4{
    margin-top:10px;
    font-weight:600;
    font-size:14px;
}
.InfoGrafAV canvas{
    padding:0 10px 0 10px;
}

.InfoGrafAV-advanced{
background-color: #C2F0C2;
}
.InfoGrafAV-intermedied{
    background-color: #71D083;
}
.InfoGrafAV-basic{
    background-color: #53B365;
}


//personalizacion en barra
.scroll::-webkit-scrollbar {
    width: 5px;
}

.scroll::-webkit-scrollbar-thumb {
    width: 3px;
}

.scroll::-webkit-scrollbar {
    width: 3px;


}

.scroll::-webkit-scrollbar-thumb {
    background-color: #2b2b2b;
}

.graficos{
    height:620px;
    margin:0;
    background-color:#ecffeb;

    }
.grafico-barras{
    margin:0;
    flex-direction:column;
    min-height:200px;
    padding: 0;


  
   
}

.grafico-barras h4{
    margin-top: 50px;
    padding: 30px 0 0 8px;
    font-size: 24px;
    color: #2b2b2b;
    background-color: #ecffeb;
    text-transform: uppercase;
  
}
.grafico-barras-information{
background-color:#fff;
width:100%;
border-radius:12px;
}

.grafico-barras-information img{
   width:60px;
   height:60px;
    }

.grafico-barras-information h3{
    padding-top:8px;
font-size:16px;
font-weight:600;

}
.grafico-barras-information p{
    padding-top:8px;
font-size:12px;
font-weight:600;
color:#3c3c3c;

}

.grafico-barras-canvas{
    background-color:#fff;
   
    border-bottom-right-radius:12px;
    padding:8px;
}
.graficos-circulares{
    padding:5px;
    background-color:#ecffeb;
    width:300px;
    height:107%;
    margin:0px 0px 0px 0px;
    border-top-left-radius: 12px; 
    border-bottom-left-radius: 12px;
}

.graficos-circulares .tittle{
    padding-top:20px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    margin:0;
    padding:10px 0 10px 0;
}

.graficos-circulares  img{
   width:50px;
   height:50px;
}
.grafos{
    flex-direction:column; 
    overflow-x: clip;
}

//Edicion de barra fija
.text-description-container{
   
}
.bar-fixed-information{
   
    //background-image: url('https://e1.pxfuel.com/desktop-wallpaper/856/222/desktop-wallpaper-1-numbers-numeric.jpg');
    background: linear-gradient(to right, white 0%, white 0%, #2b7118 35%, #0b1c0b 100%);
    width:101%;
    /* background-size: cover;
    content: "";
    overflow:hidden;
    filter: grayscale(100%);
    opacity: 1;
    z-index: 1000;
    align-items: center;
    
    max-height:200px; */
    
}

.bar-fixed-information .icon-udec {
      
   // align-items: flex-start;
   align-items: center;
    flex-direction: column;
}

.bar-fixed-information .icon-udec img{
    width:200px;
    height:120px;
   
}


.bar-fixed-information .informations{

color:#fff; 
}

.redes-icon-buttton{
    width:15px;
}
.bar-fixed-information .tittles-information{
    color:#fff;
    
}


.bar-fixed-information .tittles-information h1{
    font-weight:700;
  

}
.bar-fixed-information .tittles-information h3{ 
    color:#fff;
    font-size:11px;
    
}

.bar-fixed-information .col-selection-school{
    align-items:center;
}


.bar-fixed-information .informations .text-center{
    margin:0;
}
.bar-fixed-information .informations h4{
    font-size:18px;
}
.bar-fixed-information .informations h4{
    font-size:18px;
    font-weight:600;
}
.bar-fixed-information .col-selection-school p{
    color:#fff;
    font-size:14px;
    font-weight:600;
    margin:0;
}

.bar-fixed-information .col-selection-school .center .menu-desplegable{
    word-wrap: normal;
    border-color: #fff;
    color: #000;
    font-size: 12px;
    background-color: #ecffea;
    border-radius: 7px;
    padding: 3px;
}
//personalizacion en barra
.bar-fixed-information .col-selection-school .center .menu-desplegable::-webkit-scrollbar {
    width: 5px;
}

.bar-fixed-information .col-selection-school .center .menu-desplegable::-webkit-scrollbar-thumb {

}

.bar-fixed-information .col-selection-school .center .menu-desplegable::-webkit-scrollbar {
    width: 3px;


}

.bar-fixed-information .col-selection-school .center .menu-desplegable::-webkit-scrollbar-thumb {
    background-color: #2b2b2b;
}

.bar-fixed-information .informations .text-description{
    font-size:12px;
}

 svg{
    color:#fff;
}

.bar-fixed-information .informations .links-pages{
    font-size:12px;
}
.bar-fixed-information .informations .links-pages img{
    width:20px;
    height:20px;
    padding:0 5px 0 0;
    
}

.bar-fixed-information .informations .links-pages a{
   text-decoration:none;
   color:#fff;
}
.bar-fixed-information .informations .col-icons .tittle-icons{
    font-weight:600;
    font-size:12px;
}


.bar-fixed-information .informations .col-icons .redes{
    flex-direction: row-reverse;
}

