

//celulares

@media screen and (min-width:360px){

    .scroll {
  
        height: 305px;
        
    }
    
    .bar-fixed-information {
        
        margin: 0 0px;
    }
}

@media screen and (min-width: 360px) and (min-height: 740px) {
    .scroll {
        height: 405px;
    }
    
    .bar-fixed-information {
        margin: 0 0px;
    }
}

@media screen and (min-width:375px){

    .scroll {
  
        height: 350px;
        
    }
    
    .bar-fixed-information {
        
        margin: 0 0px;
    }
}
@media screen and (min-width:390px){

    .scroll {
  
        height: 560px;
        
    }
    
    .bar-fixed-information {
        
        margin: 0 0px;
    }
}




@media screen and (min-width:430px){

    .scroll {
  
        height: 1121px;
        
    }
    
    .bar-fixed-information {
        
        margin: 0 0px;
    }
}

@media screen and (min-width:280px){

    .scroll {
  
        height: 300px;
        
    }
    
    .bar-fixed-information {
        
        margin: 0 0px;
    }
}

@media screen and (min-width:412px){

    .scroll {
  
        height: 630px;
        
    }
    
    .bar-fixed-information {
        
        margin: 0 0px;
    }
}

//tablets

@media screen and (min-width: 1024px) {
    .scroll {
        height: 810px;
    }
    
    .bar-fixed-information {
        margin: 0 0px;
    }
}


@media screen and (min-width:540px){

    .scroll {
  
        height: 420px;
        
    }
    
    .bar-fixed-information {
        
        margin: 0 0px;
    }
}

@media (min-width: 1280px) and (min-height: 800px) {
    .scroll {
        height: 600px;
    }
    
    .bar-fixed-information {
        margin: 0 0px;
    }
}


