



@media screen and (max-width:450px){

    .scroll {
  
        height: 350px;
        
    }
    
    .bar-fixed-information {
        
        margin: 0 0px;
    }
}

@media screen and (max-width:390px){

    .scroll {
  
        height: 300px;
        
    }
    .bar-fixed-information {
        
        margin: 0 0px;
    }
    
}

@media screen and (max-width:331px){

    .scroll {
  
        height: 280px;
        
    }
    .bar-fixed-information {
        
        margin: 0 0px;
    }
    
    
}